<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cd.css">
    <script src="js/script.js" defer></script>
    <title>Livraria</title>
</head>
<body>
    <nav class="row">
        <ul class="col-12">
            <li><a href="about.asp"></a></li>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="meuspedidos.html">Meus Pedidos</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <div class="cd">
        <div class="col-2">
            <form id="form" action="">
                <h1>Cadastro</h1>
                <input type="text" class="nome" name="Nome" placeholder="Nome">
                <input type="text"class="cpf" name="CPF" placeholder="CPF">
                <input type="email" class="email" name="Email" placeholder="Email">
                <input type="password" class="senha" name="Senha" placeholder="Senha">
                <button type="submit" class="btn btn-primary btn-plus">Cadastar</button>
            </form>
        </div>
    </div>
</body>
</html>