<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cd.css">
    <script src="js/script.js" defer></script>
    <title>Livraria</title>
</head>
<body>
    <nav class="row">
        <ul class="col-12">
            <li><a href="about.asp"></a></li>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="meuspedidos.html">Meus Pedidos</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <header>
        <img src="" alt="Capa">
        <h2>Conheça nosso novo site!</h2>
        <p>Descubra os melhores livros e serviços para os amantes da leitura. Explore nosso catálogo e encontre o próximo livro para uma nova aventura.</p>
        <div class="row">
            <div class="col-8">
                <button onclick="window.location.href='login.html'" class="btn btn-primary btn-plus">Comece agora</button>
            </div>
            <div class="col-8">
                <button onclick="window.location.href='catalogo.html'" class="btn btn-primary btn-plus">Ver Catálogo</button>
            </div>
        </div>
    </header>
    <section>
        <h2>Nossos Serviços</h2>
        <div class="row">  
            <div class="col-4 col-s-6">
                <div class="servico-container">
                    <img src="imagens/iconcompraliv.png" alt="icone de compra" class="icon-servico">
                    <p>Aqui você pode comprar livros</p>
                </div>
            </div>
            <div class="col-4 col-s-6">
                <div class="servico-container">
                    <img src="imagens/iconalugarliv.png" alt="icone de alugar" class="icon-servico">
                    <p>Alugar os melhores livros</p>
                </div>
            </div>
            <div class="col-4 col-s-6">
                <div class="servico-container">
                    <img src="imagens/icoespacoleit.png" alt="icone de espaço" class="icon-servico">
                    <p>Espaços individuais para leitura, agenda o seu lugar!</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>